
body {
    background-color: #a945a7; 
}

.admin-container {
    width: 80%;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.admin-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.admin-table {
    width: 100%;
    border-collapse: collapse;
}

.admin-table th, .admin-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.admin-table th {
    background: #333;
    color: #fff;
}

.admin-table tr:nth-child(even) {
    background: #f9f9f9;
}
